{% extends 'layout.html' %}
{% block content%}

<div class="col-md-4 offset-md-4">
    <form action="token" class="card card-body">
        <h1>Generador de Token</h1>
        <!--label for="cliente">Selecciona la longuitud</label>
        <select name="cliente" id="cliente">
            <option value="6">6 Characters</option>
            <option value="7">7 Characters</option>
            <option value="8">8 Characters</option>
            <option value="9">9 Characters</option>
        </select>
        <label fot="uppercase">Uppercase</label>
        <input type="checkbox" name="uppercase" id="uppercase"-->
        <button>Generate</button>
    </form>
</div>
{% endblock %}